.weekly-button {
  height: 3rem;
  width: 5.5rem;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}
