body,
button {
  font-family: 'Zen Kurenaido', sans-serif;
}

input,
textarea,
button,
select {
  margin: 6px 3px;
}

textarea {
  resize: none;
  width: 100%;
}

.weekly-planner-h1 {
  margin-top: auto;
}

.modal {
  width: 40%;
  margin: auto;
  border: 1px solid black;
  padding: 1rem 2rem 2rem;
  background-color: white;
  top: 5rem;
  position: relative;
}

.background {
  background-color: rgba(41, 41, 41, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.entry-button {
  top: 5rem;
}

button:hover {
  background-color: rgb(200, 200, 200);
}

h3 {
  margin-top: 1rem;
}

table {
  border: 1px solid black;
  margin: 0 auto;
  width: 600px;
  border-collapse: collapse;
}

th {
  background-color: rgb(200, 200, 200);
}

td:first-child,
th:first-child {
  border-right: 1px solid black;
  width: 25%;
}

tr:nth-child(odd) {
  background-color: rgb(238, 238, 238);
}
